<div class="row">
  <div	class="col-xs-12 index-title">
    <h1><%= t '.last_recipes'%></h1>
  </div>
</div>
<div class="row">
  <% $recipes.each do |recipe| %>
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0 col-lg-4 text-center">
      <div class="recipes">
        <h3><%= link_to recipe.name, recipe %></h3>
        <%= image_tag recipe.image.url(:thumb)%>
        <p><%= t '.preference'%>: <%= recipe.preference.name %></p>
        <p><%= t '.course'%>: <%= recipe.course.name %></p>
        <p><%= t '.cuisine'%>: <%= recipe.cuisine.name %></p>
        <p><%= t '.difficulty'%>: <%= recipe.difficulty.name %></p>
      </div>
    </div>
  <% end %>
</div>
