<% if current_user.try(:admin?) %>
  <h1>Welcome, Master <%= current_user.first_name %></h1>
<% elsif current_user %>
  <h1>Welcome to Social Recipes, <%= current_user.first_name %></h1>
<% else %>
  <h1>Welcome to Social Recipes</h1>
<% end %>
<hr>
<section id="recipes">
  <% @recipes.each do |recipe| %>
    <div class="recipes">
      <h3><%= link_to recipe.name, recipe %></h3>
      <p>Preference: <%= recipe.preference.name %></p>
      <p>Course: <%= recipe.course.name %></p>
      <p>Cuisine: <%= recipe.cuisine.name %></p>
      <p>Difficulty: <%= recipe.difficulty.name %></p>
      <hr>
    </div>
  <% end %>
</section>
<aside>
  <h4>Preferences: </h4>
  <% @preferences.each do |preference| %>
    <%= link_to preference.name, preference %><br>
  <% end %>
  <h4>Cuisines: </h4>
  <% @cuisines.each do |cuisine| %>
    <%= link_to cuisine.name, cuisine %><br>
  <% end %>
</aside>
  <h4>Courses: </h4>
  <% @courses.each do |course| %>
    <%= link_to course.name, course %><br>
  <% end %>
</aside>
