<% if current_user.try(:admin?) %>
  <h1>Welcome, Master <%= current_user.first_name %></h1>
  <%= link_to "New Cuisine", new_cuisine_path %>
  <%= link_to "New Preference", new_preference_path %>
  <%= link_to "New Course", new_course_path %>
<% elsif current_user %>
  <h1>Welcome to Social Recipes, <%= current_user.first_name %></h1>
<% else %>
  <h1>Welcome to Social Recipes</h1>
<% end %>
<hr>

<section id="recipes">
  <% @recipes.each do |recipe| %>
    <div class="recipes">
      <h3><%= link_to recipe.name, recipe %></h3>
      <p>Preference: <%= recipe.preference.name %></p>
      <p>Course: <%= recipe.course.name %></p>
      <p>Cuisine: <%= recipe.cuisine.name %></p>
      <p>Difficulty: <%= recipe.difficulty.name %></p>
      <hr>
    </div>
  <% end %>
</section>

<aside>
  <h4>Preferences: </h4>
  <% @preferences.each do |preference| %>
    <%= link_to preference.name, preference %><br>
  <% end %>
  <h4>Cuisines: </h4>
  <% @cuisines.each do |cuisine| %>
    <%= link_to cuisine.name, cuisine %><br>
  <% end %>
</aside>

<aside>
  <h4>Courses: </h4>
  <% @courses.each do |course| %>
    <%= link_to course.name, course %><br>
  <% end %>
</aside>
<hr>

<section class = "most_visited">
  <h3>Most favorited: </h3>
  <% most_favorited = {} %>
  <% @all_recipes.each do |r| %>
    <% most_favorited[r.id] = r.favorites.size %>
  <% end %>
  <% Hash[most_favorited.sort_by{|k, v| v}.reverse.first 3].each do |key, value| %>
    <%r = Recipe.find(key)%>
    <h4><%= link_to r.name, r %></h4>
    <p>Favorited: <%= pluralize(value, 'time') %></p>
  <% end %>
  <pre><%=  %></pre>
</section>
