<% if current_user.try(:admin?) %>
  <h1><%=t '.admin_title', admin: current_user.first_name %></h1>
  <% new_cuisine = t '.new_cuisine'; new_preference = t '.new_preference' %>
  <% new_course = t '.new_course'; %>
  <%= link_to new_cuisine, new_cuisine_path %>
  <%= link_to new_preference, new_preference_path %>
  <%= link_to new_course, new_course_path %>
<% elsif current_user %>
  <h1><%=t '.user_title', user: current_user.first_name %></h1>
<% else %>
  <h1><%= t '.title' %></h1>
<% end %>
<hr>

<section id="recipes">
  <h2><%= t '.recipes'%></h2>
  <% @recipes.each do |recipe| %>
    <div class="recipes">
      <h3><%= link_to recipe.name, recipe %></h3>
      <%= image_tag recipe.image.url(:thumb)%>
      <p><%= t '.preference'%>: <%= recipe.preference.name %></p>
      <p><%= t '.course'%>: <%= recipe.course.name %></p>
      <p><%= t '.cuisine'%>: <%= recipe.cuisine.name %></p>
      <p><%= t '.difficulty'%>: <%= recipe.difficulty.name %></p>
      <hr>
    </div>
  <% end %>
</section>

<aside>
  <h4><%= t '.preferences'%>:</h4>
  <% @preferences.each do |preference| %>
    <%= link_to preference.name, preference %><br>
  <% end %>
  <h4><%= t '.cuisines'%>:</h4>
  <% @cuisines.each do |cuisine| %>
    <%= link_to cuisine.name, cuisine %><br>
  <% end %>
</aside>

<aside>
  <h4><%= t '.courses'%>:</h4>
  <% @courses.each do |course| %>
    <%= link_to course.name, course %><br>
  <% end %>
</aside>
<hr>

<section class = "most_visited">
  <h3><%= t '.favorites'%></h3>
  <% most_favorited = {} %>
  <% @all_recipes.each do |r| %>
    <% most_favorited[r.id] = r.favorites.size %>
  <% end %>
  <% Hash[most_favorited.sort_by{|k, v| v}.reverse.first 3].each do |key, value| %>
    <%r = Recipe.find(key)%>
    <h4><%= link_to r.name, r %></h4>
    <p>Favorited: <%= pluralize(value, 'time') %></p>
  <% end %>
  <pre><%=  %></pre>
</section>
