<h1><%= @recipe.name %></h1>
<h3><em>Author: <%= @recipe.user.first_name %></em></h3>
<% if current_user == @recipe.user %>
  <%= link_to 'Edit', edit_recipe_path(@recipe) %>
  <%= link_to 'Destroy', recipe_path(@recipe), method: :delete,
      data: {confirm: 'Are you sure?'} %>
<% end %>
<hr>
<p><strong>Preference:</strong> <%= @recipe.preference.name %></p>
<p><strong>Course:</strong> <%= @recipe.course.name %></p>
<p><strong>Cuisine:</strong> <%= @recipe.cuisine.name%></p>
<p><strong>Serves:</strong> <%= pluralize(@recipe.portion, 'person') %></p>
<p><strong>Cooking Time:</strong> <%= @recipe.cooking_time %></p>
<p><strong>Difficulty:</strong> <%= @recipe.difficulty.name %></p>
<h3>Ingredients:</h3>
<p> <%= @recipe.ingredient %></p>
<h3>Directions:</h3>
<p> <%= @recipe.directions %></p>

<% if current_user %>
  <%= link_to 'Favorite', {controller: 'favorites',
                           action: 'create',
                           favorite: {user_id: current_user.id,
                                      recipe_id: @recipe.id}},
                           method: :post %>
<% end %>
