<div class="page-header">
  <h1><%= @recipe.name %></h1>
</div>

<div class="row">
  <div	class="col-md-6">
    <%= image_tag(@recipe.image_url)%>
    <h3><em><%= t '.author', author: @recipe.user.first_name %></em></h3>
    <% if current_user == @recipe.user || current_user.try(:admin?) %>
      <% edit = t '.edit'; destroy = t '.destroy'; confirm = t '.confirm'%>
      <%= link_to edit, edit_recipe_path(@recipe) %>
      <%= link_to destroy, recipe_path(@recipe), method: :delete,
          data: {confirm: confirm} %>
    <% end %>
  </div>
  <div	class="col-md-6">
    <p><strong><%= t '.preference'%>:</strong> <%= @recipe.preference.name %></p>
    <p><strong><%= t '.course'%>:</strong> <%= @recipe.course.name %></p>
    <p><strong><%= t '.cuisine'%>:</strong> <%= @recipe.cuisine.name%></p>
    <p><strong><%= t '.serves'%>:</strong> <%= pluralize(@recipe.portion, 'person') %></p>
    <p><strong><%= t '.cooking_time'%>:</strong> <%= @recipe.cooking_time %></p>
    <p><strong><%= t '.difficulty'%>:</strong> <%= @recipe.difficulty.name %></p>
  </div>
</div>

<hr>
<h3><%= t '.ingredients'%></h3>
<p> <%= @recipe.ingredient %></p>
<h3><%= t '.directions'%>:</h3>
<p> <%= @recipe.directions %></p>

<% if current_user %>
  <% favorite = t '.favorite'; unfavorite = t '.unfavorite';%>
  <% if @favorite != [] %>
    <%= link_to unfavorite, {controller: 'favorites',
                             action: 'destroy',
                             favorite:  @favorite.pluck(:id).first},
                             method: :delete %>
  <% else %>
    <%= link_to favorite, {controller: 'favorites',
                           action: 'create',
                           favorite: {user_id: current_user.id,
                                      recipe_id: @recipe.id}},
                           method: :post %>
  <% end %>
<% end %>
