<div id="errors">
<% if @preference.errors.any? %>
<ul>
  <% @preference.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
</ul>
<% end %>
</div>
<%= form_for @preference do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.submit submit_text %>
<% end %>
